body,html {
    height: 100%;
}

*{
    -webkit-touch-callout:none; /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}

@keyframes bounus
{
    0%   {transform: scale(0.8)}
    50%  {transform: scale(1.5)}
    100% {transform: scale(1)}
}